@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}
*:focus {
outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #545252;
}

h1, h2, h3, h4, h5 {
    margin: auto;
}

h2 {
    color: #f4a443;
    text-align: center;
    margin: 5% auto 5% auto;
    font-size: 40px;
}

p {
    font-size: 18px;
}

/* Header */

header
{
  background-color: whitesmoke;
  position: relative; /* on positionne le conteneur */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 17px;
  min-height: 100%;
}

/* header-anaelle */

.anaelleHeader{
  opacity: 0.5;
  height:11vw;
  margin-top: 3vw;
  margin-bottom: -8vw;
  transition: transform 1s;
}

.anaelleHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(-30px);
}

/* header-Elliot */

.elliotHeader{
  opacity: 0.5;
  height: 11vw;
  margin-right: 30vw;
  margin-top: 2vw;
  transition: transform 1s;
}

.elliotHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(-30px);
}

/* header-kevin */

.kevinHeader{
  opacity: 0.5;
  height:11vw;
  margin-top: 3vw;
  margin-bottom: -8vw;
  transition: transform 1s;
}

.kevinHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(30px);
}


/* header-florent */

.florentHeader{
  opacity: 0.5;
  height: 11vw;
  transition: transform 1s;
}

.florentHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(30px);
}

/* header-Ysatis */

.ysatisHeader{
  opacity: 0.5;
  height: 11vw;
  margin-right: 55vw;
  transition: transform 1s;
}

.ysatisHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(-30px);
}

/* header-morgan */

.morganHeader{
  opacity: 0.5;
  height: 11vw;
  margin-top: 2vw;
  transition: transform 1s;
}

.morganHeader:hover{
  opacity: 1;
  transform: scale(1.2) translate(30px);
}

/* header-logo */

.logoHeader{
  opacity: 0.5;
  height: 15vw;
  margin-left: 3vw;
  margin-top: -13vw;
  transition: transform 1s;
}

.logoHeader:hover{
  opacity: 1;
  transform: scale(1.1) rotateY(190deg);
}

/*Partie présentation*/

.presentation {
    width: 70%;
    text-align: justify;
    margin: auto auto 5% auto;
}


/* partie WIP page d'accueil*/

.grid {
    
    max-width: 1200px;
    margin:auto;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-item {
    width: 300px; 
    float: left;
    background: #f4a443;
    border: 2px solid #f4a443;
    
    border-radius: 5px;
  }
  
  .grid img {
    width : 100%;
  }
  

